* {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 7rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.aboutSection, .missionSection, .contactSection, .suggestionsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutSection, .missionSection {
  height: 50vh;
  width: 80vw;
  padding: 2rem;
  border-radius: 1rem;

}

.contactSection {
  width: 100vw;
  background-color: #b31010;
  padding: 2rem;
}


.aboutSection h2, .missionSection h2, .contactSection h2, .suggestionsSection h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.aboutSection h2, .missionSection h2 {
  color: #b31010;
}

.contactSection h2, .suggestionsSection h2 {
  color: #fff;
}

.aboutSection p, .missionSection p {
  font-size: 1.5rem;
  font-weight: 400;
}

.aboutSection p  {
  color: #fff;
}

.missionSection {
  background-color: #fff;
  border: 1px solid #000;
}

.aboutSection, .suggestionsSection {
  background-color: #000;
}

.contactSection form input, .suggestionsSection form input {
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 30vw;
}

.suggestionsSection form input, .suggestionsSection form textarea {
  border: 1px solid #000;
}

.contactSection form, .suggestionsSection form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.contactSection form textarea, .suggestionsSection form textarea {
  resize: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 50vw;
}

.contactSection form textarea {
  border: 1px solid #000;
}

.contactSection form a, .suggestionsSection form a {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
}

.contactSection form a {
  background-color: #000;
}

.suggestionsSection form a {
  background-color: #b31010;
}

.suggestionsSection {
  width: 60vw;
  padding: 5rem;
  border-radius: 1rem;
}

@media (max-width: 1200px) {
  .suggestionsSection {
    width: 70vw;
  }
}

@media (max-width: 576px) {

  .aboutSection, .missionSection  {
    height: auto;
  }
  .aboutSection p, .missionSection p {
    font-size: 1.1rem;
    font-weight: 300;
  }

  .missionSection h2 {
    margin-bottom: 0rem;
  }

  .contactSection form input, .suggestionsSection form input {
    width: 50vw;
  }

  .contactSection form textarea, .suggestionsSection form textarea {
    width: 70vw;
  }

  .suggestionsSection {
    width: 90vw;
  }
}


